.inner::-webkit-scrollbar {
    display: none;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.01),
            rgb(255, 255, 255) 85%
        ),
        radial-gradient(at 0% 0%, rgba(13, 110, 253, 0.5), rgba(0, 0, 0, 0) 50%),
        radial-gradient(
            at 100% 0%,
            rgba(255, 228, 132, 0.5),
            rgba(0, 0, 0, 0) 50%
        ),
        radial-gradient(
            at 100% 50%,
            rgba(113, 44, 249, 0.5),
            rgba(0, 0, 0, 0) 50%
        ),
        radial-gradient(
            at 0% 50%,
            rgba(214, 51, 132, 0.5),
            rgba(0, 0, 0, 0) 50%
        );
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.01),
            rgb(255, 255, 255) 85%
        ),
        radial-gradient(at 0% 0%, rgba(13, 110, 253, 0.5), rgba(0, 0, 0, 0) 50%),
        radial-gradient(
            at 100% 0%,
            rgba(255, 228, 132, 0.5),
            rgba(0, 0, 0, 0) 50%
        ),
        radial-gradient(
            at 100% 50%,
            rgba(113, 44, 249, 0.5),
            rgba(0, 0, 0, 0) 50%
        ),
        radial-gradient(
            at 0% 50%,
            rgba(214, 51, 132, 0.5),
            rgba(0, 0, 0, 0) 50%
        );
}
.inner {
    -ms-overflow-style: none;
}
.photo {
    background-color: hsla(0, 0%, 98%, 0.2);
}

.effet {
    background-color: hsla(0, 0%, 0%, 0.4);
}
.bouton {
    @media (max-width: 768px) {
        display: none;
    }
}
.nobouton {
    @media (min-width: 768px) {
        display: none;
    }
}
.alignement {
    @media (max-width: 768px) {
        text-align: center;
    }
}
.font {
    font-size: x-small;
}
